[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-login = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.12"
